<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Restful Tasks</title>
  </head>

  <body>
    <div class="newTask">
      <h1>Create a new task</h1>
      <form (submit)="onSubmit()">
        <!-- use the json pipe to see how newTask changes in real time -->
        <p>{{ newTask | json }}</p>
        <input
          type="text"
          name="newTask.title"
          [(ngModel)]="newTask.title"
          placeholder="Title"
        />
        <input
          type="text"
          name="newTask.description"
          [(ngModel)]="newTask.description"
          placeholder="Description"
        />
        <input type="submit" value="Create Task" />
      </form>
    </div>
    <div class="tasks">
      Enter task ID:
      <input type="text" (keyup)="getTasksByInput($event.which)" />

      <h1>Restful Tasks API</h1>
      <button (click)="getTasksFromService()">GET ALL TASKS</button>
      <div *ngFor="let task of tasks; let rowIndex = index">
        <div></div>
        <p>{{ task.title }} - {{ task.description }}</p>
        <button (click)="taskToShow(task)">SHOW</button>
        <button
          id="{{rowIndex+1}}"
          value="{{task._id}}"
          (click)="getOneTaskFromService(task._id)"
        >
          EDIT
        </button>
        <button
          value="{{task._id}}"
          (click)="deleteOneTaskFromService(task._id)"
        >
          DELETE
        </button>
      </div>
    </div>

    <div class="showTask" *ngFor="let task of showTask">
      <h1>Editing: {{ task.title }}</h1>
      <form (ngSubmit)="onSubmitEdit(task)">
        <p>Old Title: {{ task.title | json }}</p>
        <h4>New Title: {{ editTask.title | json }}</h4>
        <p>Old Description: {{ task.description | json }}</p>
        <h4>New Description: {{ editTask.description | json }}</h4>
        <input
          type="text"
          name="editTask.title"
          [(ngModel)]="editTask.title"
          placeholder="{{task.title}}"
        />
        <input
          type="text"
          name="editTask.description"
          [(ngModel)]="editTask.description"
          placeholder="{{task.description}}"
        />
        <input type="submit" value="Edit Task" />
      </form>
    </div>

    <app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task>
  </body>
</html>